@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: border-box;
  }

  :root {
    color-scheme: dark;
  }

  html,
  body,
  #__next {
    height: 100%;
    margin: 0;
    padding: 0;
  }

  /* Custom scrollbar */
  ::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background: #334155;
    border-radius: 2px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #475569;
  }
}

@layer utilities {
  .bg-surface-750 {
    background-color: #1b2537;
  }
}
